<h2 mat-dialog-title class="text-xl font-semibold">Edit</h2>
<mat-divider></mat-divider>

<div mat-dialog-content>
  <form class="example-form mt-6">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Valid From</mat-label>
      <input matInput [matDatepicker]="datepicker" datePickerFormat="YYYY/MM/DD">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Valid To</mat-label>
      <input matInput [matDatepicker]="matDatepicker" datePickerFormat="MMMM Do YYYY">
      <mat-datepicker-toggle matSuffix [for]="matDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #matDatepicker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="justify-end mt-3">
  <button mat-button mat-dialog-close class="font-medium sm:text-base text-sm">
    Cancel
  </button>
  <button mat-button mat-dialog-close class="bg-sky-100 font-medium sm:text-base text-sm">
    Save
  </button>
</div>
