<h2 mat-dialog-title class="text-xl font-semibold" >Delete {{title}}</h2>
  <mat-divider></mat-divider>
<div  class="mt-5">
  <p mat-dialog-content class="padding-0 mt-4 font-gilroye">Are you sure you wish to delete this {{title}}?</p>
</div>
<div mat-dialog-actions class="justify-end mt-3">
  <button mat-button mat-dialog-close class="font-medium sm:text-base text-sm">
    Close
  </button>
  <button mat-button mat-dialog-close class="bg-sky-100 font-medium sm:text-base text-sm">
    Delete
  </button>
</div>

