<h2 mat-dialog-title class="text-xl font-semibold">Add Contact</h2>
<mat-divider class="mt-6"></mat-divider>

<form class="example-form mt-6">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Phone</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Ruolo</mat-label>
    <input matInput>
  </mat-form-field>
</form>

<div mat-dialog-actions class="justify-end mt-3">
  <button mat-button mat-dialog-close class="font-medium sm:text-base text-sm">
    Close
  </button>
  <button mat-button mat-dialog-close class="bg-sky-100 font-medium sm:text-base text-sm">
    Add
  </button>
</div>
