<div class="mt-6">
  <p>
    <mat-form-field appearance="outline" class="w-72">
      <mat-label>Name</mat-label>
      <input matInput>
      <mat-icon matSuffix>person_pin</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="w-72">
      <mat-label>Email</mat-label>
      <input matInput>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="w-72">
      <mat-label>Phone Number</mat-label>
      <input matInput>
      <mat-icon matSuffix>perm_phone_msg</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="w-72">
      <mat-label>Rulo</mat-label>
      <input matInput>
      <mat-icon matSuffix>restore_page</mat-icon>
    </mat-form-field>
  </p>
</div>
<hr />
<div mat-dialog-actions class="justify-end	mt-4">
  <button mat-button mat-dialog-close class="bg-slate-400 m-3 p-2 px-4 text-white font-bold rounded">
    Close
  </button>
  <button mat-button mat-dialog-close class="bg-slate-400 p-2 px-4 text-white font-bold rounded">
    Submit
  </button>
</div>
